.titleLogin {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 10vh;
}
.forgotPasswordText {
  font-size: .85vw;
}
.btnSubmitLogin {
  background-color: var(--main-color);
  border: none;
  outline: none;
  width: 40%;
  margin: auto;
}
.btnSubmitLogin:hover {
  background-color: #ac6700;
}
.inputPassword::-ms-reveal,
.inputPassword::-ms-clear {
  display: none;
}
.containerPassword {
  position: relative;
}
.showPasswordIcon {
  color: #999;
  position: absolute;
  right: 10px;
  top: 33px;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}
/* Forgot password */
.containerForgotPassword {
  text-align: center;
  margin-top: 5vh;
  padding-top: 3vh;
}
.forgotPassword {
  color: var(--main-color);
  text-decoration: underline;
  cursor: default; /* Prevent bug with text cursor */
}
.forgotPassword:hover {
  cursor: pointer;
}
