:root {
  --main-color: #935700;
  --main-color-ligth: #ac6700;
  --dorado: #9A5F10;
  --branco: #FFFEFE;
  --main-cinza: #DFDFDF;
  --main-cinza-dark: #cdcdcd;
  --senac-amarelo: #F78B1F;
  --senac-amarelo-dark: rgb(225, 126, 28);
  --senac-amarelo-claro: #F6BF86;
  --senac-azul: #005594;
  --senac-azul-dark: #17384D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-control:focus, .form-select:focus, .form-check-input:focus {
  border-color: var(--senac-amarelo-claro);
  box-shadow: 0 0 0 0.2rem rgba(225, 126, 28, 0.25);
} 
.form-check-input:checked {
  background-color: var(--senac-amarelo);
  border-color: var(--senac-amarelo-dark);
}
textarea {
  resize: none;
}