.titleLoginEsqueceuSenha {
  margin-bottom: 3vh;
  text-align: center;
  font-size: 3vw;
}
.infoResetSenha {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 5vh;
}

.btnSubmitLoginEsqueceuSenha {
  background-color: var(--main-color);
  border: none;
  outline: none;
  width: 40%;
  margin: auto;
  margin-top: 2vh;
}
.btnSubmitLoginEsqueceuSenha:hover {
  background-color: #ac6700;
}