.logoSenacoinLogin {
  width: 50%;
}
.leftSide {
  background-color: #f3f3f3;
}
.rigthSide {
  -webkit-box-shadow: -7px -1px 25px -4px rgba(0,0,0,0.36);
  -moz-box-shadow: -7px -1px 25px -4px rgba(0,0,0,0.36);
  box-shadow: -7px -1px 25px -4px rgba(0,0,0,0.36);
}
.rigthSide, .leftSide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogin {
  width: 80%;
  margin-bottom: 10%;
}