.barraLateral {
  height: 100vh;
  background-color: var(--senac-azul-dark);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  transition: width .4s ease-in;
}
.containerNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  height: 80%;
  width: 100%;
  padding-top: 3vh;
}

/* Icons in general */
.icon {
  color: var(--branco);
  margin-top: 6px;
  margin-bottom: 6px;
  min-width: 30px;
}


/* Menu with animation */
.iconeMenuContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  padding-left: 15px;
  overflow: visible;
}
.logoSenacoin {
  width: 155px;
  transition: opacity .1s ease-in;
}
.animatedMenu {
  margin-right: 17px;
  cursor: pointer;
  color: var(--branco);
  min-width: 30px;
}



/* Navigation */
.navBarraLateral {
  overflow: visible;
  width: 85%;
}
.navBarraLateral ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: flex-start;
  padding-left: 12px;
}
.navBarraLateral  ul a {
  width: 100%;
  text-decoration: none;
}
.navBarraLateral ul li {
  width: 100%;
  margin: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.navBarraLateral ul li:hover .icon {
  color: var(--senac-amarelo);
}
.navBarraLateral ul li:hover > .textMenuOption {
  color: var(--senac-amarelo);
}
.textMenuOption {
  margin-left: 20px;
  font-weight: 600;
  white-space: nowrap;
  transition: opacity .1s ease-in;
  color: var(--branco);
}




/* Hover show side text config */
.navBarraLateral  ul li {
  position: relative;
}
.toolTipHover:before {
  content: attr(data-datatooltip);
  font-weight: 600;
  border: 1px solid rgb(232, 232, 232);
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  position: absolute;
  letter-spacing: 1px;
  left: 75px;
  border-radius: 5px;
  top: 0;
  white-space: nowrap;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  pointer-events: none;

  /* Animation */
  opacity: 0;
  transition: 
    opacity .15s ease-in,
    transform .15s ease-in;
}
.toolTipHover:hover:before {
  opacity: 1;
  transform: translateY(11.5px);
}




/* User section */
.userSection {
  border-top: 2px solid var(--main-cinza);
  width: 90%;
  height: 75px;
}