*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.mb-2{
    position: relative;
}
.mb-2 input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(128,128,128);    
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 0 0 ;
    transition: 0.5s;
}
.mb-2 span{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: lightgray;
    transition: 0.5s;
    
    
}
.testeAnimacao1 input:valid ~ span,
.testeAnimacao1 input:focus ~ span
{
    color: #D2691E;
    transform: translateX(10px) translateY(-9px);
    font-size: 14px;
    padding: 0 10px;
    background: #fff;
    letter-spacing: 0.2em;
    border-left: 1px solid #D2691E;
    border-right: 1px solid #D2691E;

    opacity: 1;
    

}
.testeAnimacao1 input:valid,
.testeAnimacao1 input:focus
{
    border: 1px solid rgb(210,105,30);
}