/* .calendarContainer {
  transform: scale(.6);
  position: absolute;
  top: -150px;
  left: 0;
}
.fc-header-toolbar {
  width: 35vw;
}
.fc-scrollgrid {
  width: 40.5vw !important;
  height: 43.6vh !important;
} */
.calendarContainer a {
  color: var(--senac-azul);
  text-decoration: none;
  overflow-x: visible;
}
.fc-button {
  background-color: var(--senac-azul) !important;
  border: none !important;
}
.calendarContainer thead {
  border-bottom: 2px solid var(--senac-azul);
}
.fc-col-header-cell-cushion  {
  color: var(--senac-amarelo-dark) !important;
}
.fc-day-today {
  background-color: #0054944f !important;
}
.fc-event-title {
  width: 100%;
  text-align: center;
}

/* Set the position for tooltip work with */
.fc-daygrid-event-harness {
  position: relative;
}
.toolTipHoverCalendar:before {
  content: attr(data-datatooltip);
  font-weight: 600;
  z-index: 100;
  border: 1px solid rgb(232, 232, 232);
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  position: absolute;
  letter-spacing: 1px;
  left: 0;
  border-radius: 5px;
  top: -30px;
  white-space: nowrap;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  pointer-events: none;

  /* Animation */
  opacity: 1;
  transition: 
    opacity .15s ease-in,
    transform .15s ease-in;
}
.toolTipHoverCalendar:hover:before {
  opacity: 1;
  transform: translateY(11.5px);
}