/* .calendarContainer {
  transform: scale(.6);
  position: absolute;
  top: -150px;
  left: 0;
}
.fc-header-toolbar {
  width: 35vw;
}
.fc-scrollgrid {
  width: 40.5vw !important;
  height: 43.6vh !important;
} */
.calendarContainer a {
  color: var(--senac-azul);
  text-decoration: none;
}
.fc-button {
  background-color: var(--senac-azul) !important;
  border: none !important;
}
.calendarContainer thead {
  border-bottom: 2px solid var(--senac-azul);
}
.fc-col-header-cell-cushion  {
  color: var(--senac-amarelo-dark) !important;
}
.fc-day-today {
  background-color: #0054944f !important;
}